/*Variables*/
$font-header: "Oswald", sans-serif;
$font-text: "Poppins", sans-serif;

/*Global*/

body {
  font-family: $font-text;
}

/*Navigation*/

.navigation {
  padding: 12px 0;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: #000;
}

/*Splash*/

.splash {
  min-height: 500px;
  display: flex;
  background-image: url(https://i.postimg.cc/VNkF8WVq/pexels-josh-hild-16664514.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  font-size: 72px;
  word-spacing: -24px;
  font-weight: 700;
  line-height: 1.2;
  font-family: $font-header;
  margin: 0;
}

.page-subtitle {
  margin: 24px 0;
  font-weight: 300;
  font-size: 20px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #000;
}
